
:root {
    /* colors */
    --text--: #434455; 
    --dark--: #2E2F42;
    --modal-ovarlay--: rgba(46,47,66,40);
    --subtle-text--:#8E8F99;  
    --white--: #FFFFFF;
    --primary-brand--: #4D5AE5;
    --pressed-state--:#404BBF;
    --success--:#31D0AA;
    --accent--:#E7E9FC;
    --light--:#F4F4FD;
    --hero-gradient--: rgba(46, 47, 66, 0.7);
    --footer-icons-font:rgba(255, 255, 255, 0.1);
    
    /* shadows */
    --hero-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    --order-but-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    --team-card-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    --radiobutton-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-card-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icons:active {
    color:var(--pressed-state--);
}

/* body global styles */
body {
    font-family: "Roboto", "sans-serif";
    color:var(--text--);
    background-color: var(--white--);
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: var(--dark--) ;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
button {
    display: block;
} 
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* interactive elements pressed state */
.order-btn:is(:hover,:focus) {
    background-color: var(--pressed-state--);
}
.adress-link:is(:hover,:focus),
.nav-link:is(:hover,:focus) {
    color: var(--pressed-state--);
}
.radiobutton:is(:hover,:focus) {
    background-color: var(--pressed-state--);
    color: var(--white--);
    border-color: var(--primary-brand--)
}
.footer-social-links:is(:focus,:hover) {
    background-color: var(--success--);
}
.team-social-links:is(:hover,:focus) {
    background-color: var(--pressed-state--);
}
.customers-social-items:is(:hover,:focus) {
    border-color: var(--pressed-state--)
}
.customers-social-links:is(:hover,:focus) .customers-social-icons {
    fill: var(--pressed-state--);
}
.radiobutton:is(:hover,:focus) {
    box-shadow:var(--radiobutton-shadow)
}
.portfolio-item:hover {
    box-shadow: var(--portfolio-card-shadow)
}
.modal .close-button:is(:hover,:focus){
    background-color: var(--pressed-state--);
    fill: var(--white--)
}
.modal-contacts-inputs:is(:focus,:hover) +.input-svg {
    fill: var(--primary-brand--);
}
.modal-contacts-inputs:is(:focus,:hover) {
    border-color: var(--primary-brand--);
}
.modal-submit-button:is(:hover,:focus) {
    background-color: var(--pressed-state--);
}
.modal-comment-textarea:is(:focus,:hover) {
    border-color: var(--primary-brand--);
}
.input-checkbox:checked + .checkbox-icon {
    background-color: var(--pressed-state--);
    border: var(--pressed-state--);
    
}
.subscribe-submit:is(:hover,:focus) {
    background-color: var(--pressed-state--);
}


/* hidden elements */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* overlay */
.hero-overlay{
    height: 600px;
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
    background-color: var(--dark---);
    background-image: 
    linear-gradient(var(--hero-gradient--), var(--hero-gradient--)), 
    url("../images/hero-img.jpg");
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--hero-shadow) ;
    
}

/* Header styles */
.header {
    border-bottom: 1px solid var(--accent--);
    padding-top: 24px;
    padding-bottom: 0px;
}
.section-header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family:"Raleway";
    font-weight: 800;
    color: var(--dark--);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-web {
    color: var(--primary-brand--);
}
.nav {
    display: flex;
}
.nav-list {
    display: flex;
    margin-left: 76px;
}
.nav-link {
    padding-bottom: 5px;
    padding-top: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
}
.nav-item:not(:last-child) {
    margin-right: 40px;
}
.nav-studio::after
{
    display: block;
    content: "";
    margin-top: 24px;
    width: 48px;
    height: 4px;
    background: var(--pressed-state--);
    border-radius: 2px;
}
.nav-portfolio::after{
    display: block;
    content: "";
    margin-top: 24px;
    width: 66px;
    height: 4px;
    background: var(--pressed-state--);
    border-radius: 2px;
}
.adress-list {
    display: flex;
}
.adress-item:not(:last-child) {
    margin-right: 40px;
}
.nav-link {
    font-weight: 500;
    color: var(--dark--);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.adress-link {
    color: var(--text--);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link, .adress-link,
.nav-item, 
.adress-item, .logo {
    text-decoration: none;
    list-style-type: none;
}



/* footer styles */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--dark--);
}
.footer-block {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
.footer-logo-block {
    margin-right: 120px;
}
.logo-footer {
    font-family: "Raleway";
    font-weight: 800;
    color: var(--light--);
    font-size: 18px;
    line-height: 1.16; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.main-paragraph {
    max-width:264px;
    margin-top: 16px;
    color: var(--accent--);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-social-block {
    margin-right: 80px;
}
.footer-social-list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.footer-social-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white--);
}
.footer-social-items {
    margin-top: 16px;
    width: 40px;
    height: 40px;
    background-color:var(--footer-icons-font);
    border-radius: 50%;
}
.footer-social-items:not(:last-child) {
    margin-right: 16px;
}
.footer-social-links {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.subscribe-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white--);
}
.input-button {
    display: flex;
    align-items: baseline;
}
.subscribe-input {
    margin-top: 16px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-right: auto;
    color: var(--white--);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
}
.subscribe-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}
.subscribe-icon {
    margin-left: 16px;
}
.subscribe-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    margin-left:24px;
    padding: 8px, 24px, 8px, 24px;
    background-color: var(--primary-brand--);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white--);
    border-style: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;
}




/* hero section main page*/
.hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
}
.slogan {
    font-weight: 700;
    color: var(--white--);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
} 
.order-btn {
    display: block;
    margin-top: 48px;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-family: inherit ;
    font-weight: 500;
    background-color: var(--primary-brand--);
    border-color: var(--primary-brand--);
    color: var(--white--);
    box-shadow: var(--order-but-shadow);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}



/* features section */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list {
    display: flex;
    justify-content: center;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.features-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-item:not(:last-child) {
    margin-right: 24px;
}
.features-item {
    list-style-type: none;
    min-width: 264px;
}
.features-bg-image {
    padding: 24px 100px ;
    display: block;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light--);
    border-radius: 4px;
}




/* section services style */
.service  {
    padding-bottom: 120px;
}
.service-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.service-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.service-item {
    display: flex;
}
.service-item:not(:last-child) {
    margin-right: 24px ;
}




/* section "team" */
.team {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: var(--accent--);
}
.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.team-item:not(:last-child) {
    margin-right: 24px;
}
.team-card {
    padding: 32px 16px;
    text-align: center;
    box-shadow: var(--team-card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white--);
}
.team-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.work-position {
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.team-social-list { 
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
}
.team-social-items{
    margin-top: 8px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand--);
    border-radius: 50%;
}
.team-social-items:not(:last-child) {
    margin-right: 24px;
}
.team-social-links {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}




/* customers */
.customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.customers-social-list {
    text-decoration: none;
    list-style-type: none;
    display:flex;
    justify-content: center;
}
.customers-social-items {
    width: 168px;
    height: 88px;
    background-color: var(--white--);
    border-top:1px solid var(--subtle-text--);
    border-right: 1px solid var(--subtle-text--);
    border-bottom: 1px solid var(--subtle-text--);
    border-left: 1px solid var(--subtle-text--);
    border-radius: 4px;;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.customers-social-items:not(:last-child) {
    margin-right: 24px;
}
.customers-social-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.customers-social-icons {
    fill: var(--subtle-text--);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}



/* portfolio styles */
.portfolio {
    padding-top:96px;
    padding-bottom: 120px;
}
.button-list, .portfolio-list {
    list-style-type: none;
}
.portfolio-link {
    text-decoration: none;
}
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.radiobutton-list:not(:last-child) {
    margin-right: 24px;
}
.radiobutton {
    padding:12px 24px ;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500; 
    background-color: var(--accent--);
    color: var(--primary-brand--);
    border-color: var(--accent--);
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
    padding:32px 16px 32px;
    border-left: 1px solid var(--accent--);
    border-bottom: 1px solid var(--accent--);
    border-right: 1px solid var(--accent--);
}
.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark--);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-desc {
    color: var(--text--);
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.card-img {
    position: relative; 
    overflow: hidden;
}
.portfolio-link:is(:hover,:focus) .overlay {
    transform: translateY(0);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 164px;
    background-color:rgba(77, 90, 229, 1);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.card-description {
    color: var(--light--);
    font-size: 18px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/* backdrop */
.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    transition: 250ms;
    
}
.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(0);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 408px;
    min-height: 576px;
    padding-top:72px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
}
.modal .close-button {
    position: absolute;
    top: 24px;
    right: 18px;
    width: 24px;
    height: 24px;
    display: block;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-icon {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.modal-contacts-list {
    list-style-type: none;
    text-decoration: none;
}
.modal-contacts-items {
    display:flex;
    flex-direction: column;
}
.modal-contacts-items:not(:last-child) {
    margin-bottom: 8px;
}
.form-head {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.modal-labels {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #8E8F99;
}
.modal-contacts-inputs{
    width: 360px;
    height: 40px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: inherit;
    border-top: 1px solid rgba(33, 33, 33, 0.2);
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-comment-textarea {
    resize: none;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 16px;
    width: 360px;
    height: 120px;
    background-color: inherit;
    border-top: 1px solid rgba(33, 33, 33, 0.2);
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-textarea::placeholder {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
}

.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
}
.input-svg-layer{
    position: relative;
}
.input-svg {
    position: absolute;
    top:8px;
    left:16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.input-checkbox {
    position:absolute;
    width:1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding:0;
    clip: rect(0 0 0 0);
    overflow:hidden; 
}
.checkbox-icon { 
    position: absolute;
    left:0px;
    top: 0px;
    display: block ;
    height: 16px;
    width:16px;
    border: 1.25px solid var(--dark--);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-svg {
    position: absolute;
}
.privacy-policy-link {
    color: var(--primary-brand--);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}
.modal-checkbox-label { 
    display: block;
    margin-left: 24px;
}
.modal-submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    min-height: 56px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;
}
