@media screen and (min-width:768px) {
    .footer-block {
        padding-left: 107px;
        padding-right: 107px;
    }
    .logo-social {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 72px;
    }
    .footer-logo-block {
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .footer-social-block {
        margin-bottom: 0px;
    }
    .input-button {
        display: flex;
    }
    .subscribe-form {
        align-items: flex-start;
    }
    .subscribe-input {
        width: 264px;
    }
    .subscribe-submit {
        margin-left: 24px;
    }
    .main-paragraph {
        max-width:264px;
    }
    
}